image: python:3.7

variables:
  PACKAGE_NAME: lnmmeshio

.test: &test
  stage: test
  variables:
    PYTHON_EXECUTABLE: ""
  script:
    - if [ -d "testvenv" ]; then rm -rf testvenv; fi
    - $PYTHON_EXECUTABLE -m venv testvenv
    - . testvenv/bin/activate
    - pip install wheel
    - pip install  --index-url=https://pypi.python.org/simple/ --extra-index-url=https://lnm-heartgroup.pages.gitlab.lrz.de/packages/ -r requirements-dev.txt
    - pytest --cache-clear
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  rules:
    - when: always
  artifacts:
    reports:
      junit: junit.xml

test_python_3.8:
  <<: *test
  variables:
    PYTHON_EXECUTABLE: "python3.8"
  rules:
    - when: always

test_python_3.9:
  <<: *test
  variables:
    PYTHON_EXECUTABLE: "python3.9"
  rules:
    - when: always

version_check:
  stage: test
  script:
    - echo "Check whether version already exists"
    - VERSION=$(cat VERSION)
    - echo Version is $VERSION
    - echo Try to install this version via pip
    - if pip install $PACKAGE_NAME==$VERSION --index-url=https://pypi.python.org/simple/ --extra-index-url=https://lnm-heartgroup.pages.gitlab.lrz.de/packages/; then echo Version does already exist; exit 1; else echo Version is unique; fi
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "merge_request_event"'
      when: on_success
    - when: never

pages:
  stage: deploy
  script:
    - mkdir -p public
    - mkdir -p public/coverage
    - mkdir -p public/docs
    - pip install -r requirements-dev.txt --index-url=https://pypi.python.org/simple/ --extra-index-url=https://lnm-heartgroup.pages.gitlab.lrz.de/packages/
    - coverage run --source=$PACKAGE_NAME -m unittest discover test_$PACKAGE_NAME
    - coverage html
    - mv htmlcov/ public/coverage/
    - pdoc -o public/docs/ $PACKAGE_NAME
  artifacts:
    paths:
      - public
    expire_in: 30 days
  rules:
    - if: '$CI_COMMIT_BRANCH == "master" && $CI_PIPELINE_SOURCE != "schedule" && $CI_PIPELINE_SOURCE != "web"'
      when: on_success
    - when: never

trigger_pypi:
  stage: deploy
  script:
    - "curl --request POST --form token=$TRIGGER_PYPI_TOKEN --form ref=master https://gitlab.lrz.de/api/v4/projects/50609/trigger/pipeline"
  rules:
    - if: '$CI_COMMIT_BRANCH == "master" && ($CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "merge_request_event")'
      when: on_success
    - when: never
